.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    width:73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left:auto;
}
.heroIMG {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #373738;
}
p {
    color:blue;
}
.portrait {
    width: 25%;
    height: auto;
}
.footerNav {
    display: inline-block;
    vertical-align: top;
}
.inline-block-white {
    display: inline-block;
    vertical-align: top;
    color: white;
}
/* Grid CSS */

#heroGrid { 
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
    grid-template-columns: 75% 25%;
    grid-template-areas:
    "featuredProduct secondaryProduct"
    "featuredProduct CTA"
    }
    
    #featuredProduct {
        grid-area: featuredProduct;
        background-image: url("../images/furniture1.png");
    }
    
    #secondaryProduct {
        grid-area: secondaryProduct;
        background-image: url("../images/furniture2.png");
    }
    
    #CTA {
        grid-area: CTA;
        justify-content: 0px 5%;
        cursor: pointer;
        background-image: url("../images/woodbg.png");
    }
    
    #headline {
        border-bottom: 5px solid #FF6200;
        background-color: rgba(225,225,225,0.8);
        position: aboslute;
        right: -50px;
        top: 100px;
        padding: 25px;
        max-width: 550px;
        z-index: 100;
    }


    .heroGridArea {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        display: flex;
        position: relative;
    }
    
    
