.inline-block {
    display: inline-block;
    vertical-align: top;
    margin:auto;
    width: 25% 10% 10% 10% 10%;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    width:73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left:auto;
}
.heroIMG {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #373738;
}
h4 {
    text-align:justify;
    text-justify:inter-word;
    padding: 10px;
}

p {
    text-align:center;
    text-justify:inter-word;
    padding: 30px;
}

.resume {
    margin-left: 35%;
}

.portrait {
    width: 25%;
    height: auto;
    margin-left: 35%;
}
.footerNav {
    display: inline-block;
    vertical-align: top;
}
.inline-block-white {
    display: inline-block;
    vertical-align: top;
    color: white;
}
    .flexContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .skillCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 10px;
    }

    h3 {
        text-align: center; 
        margin-left: 5%;  
    }
    h4 {
        text-align: center;
    }


    .workGrid {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "dplImage dplDescription"
       "cocImage cocDescription";
       margin: 20px;
    }

    .myWorkImages {
        width: 50%;
        padding: 3%;
        margin-left: 20%;
    }
    
button {
    margin-left: 45%;
}
@media screen and (max-width: 600px) {
    .flexContainer{
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-around;
        width: 100%;}

        .workGrid {
            display:grid;
            grid-template-columns: 1fr !important;
            grtid-template-rows: 300px 300px 300px 300px;
            grid-template-areas: 
            "dplImage" 
            "dplDescription"
           "cocImage" 
           "cocDescription";
           margin: 20px;
        }
}